.sfdx/orgs/i.lakshmideepak@cunning-otter-rhmptc.com/metadata/FlexiPage.json
.sfdx/tools/apex.db
.sfdx/typings/lwc/apex/ContactController.d.ts

.sfdx/typings/lwc/BoatMessageChannel.messageChannel.d.ts
.sfdx/typings/lwc/sobjects/Account.d.ts
.sfdx/typings/lwc/sobjects/Attachment.d.ts
.sfdx/typings/lwc/sobjects/Case.d.ts
.sfdx/typings/lwc/sobjects/Contact.d.ts
.sfdx/typings/lwc/sobjects/Contract.d.ts
.sfdx/typings/lwc/sobjects/Lead.d.ts
.sfdx/typings/lwc/sobjects/Note.d.ts
.sfdx/typings/lwc/sobjects/Opportunity.d.ts
.sfdx/typings/lwc/sobjects/Order.d.ts
.sfdx/typings/lwc/sobjects/Pricebook2.d.ts
.sfdx/typings/lwc/sobjects/PricebookEntry.d.ts
.sfdx/typings/lwc/sobjects/Product2.d.ts
.sfdx/typings/lwc/sobjects/RecordType.d.ts
.sfdx/typings/lwc/sobjects/Report.d.ts
.sfdx/typings/lwc/sobjects/Task.d.ts
.sfdx/typings/lwc/sobjects/User.d.ts
.sfdx/tools/apex.db
.sfdx/tools/sobjects/standardObjects/Account.cls
.sfdx/tools/sobjects/standardObjects/Attachment.cls
.sfdx/tools/sobjects/standardObjects/Case.cls
.sfdx/tools/sobjects/standardObjects/Contact.cls
.sfdx/tools/sobjects/standardObjects/Contract.cls
.sfdx/tools/sobjects/standardObjects/Lead.cls
.sfdx/tools/sobjects/standardObjects/Note.cls
.sfdx/tools/sobjects/standardObjects/Opportunity.cls
.sfdx/tools/sobjects/standardObjects/Order.cls
.sfdx/tools/sobjects/standardObjects/Pricebook2.cls
.sfdx/tools/sobjects/standardObjects/PricebookEntry.cls
.sfdx/tools/sobjects/standardObjects/Product2.cls
.sfdx/tools/sobjects/standardObjects/RecordType.cls
.sfdx/tools/sobjects/standardObjects/Report.cls
.sfdx/tools/sobjects/standardObjects/Task.cls
.sfdx/tools/sobjects/standardObjects/User.cls
.sfdx/indexes/lwc/custom-components.json
